<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name= "com.Weekly.qa.ExtentReportListener.ExtentReportListener" />
</listeners>

  <test thread-count="5" name="Test">
    <classes>
     <class name="com.Weekly.qa.TestCases.WebHomePageTest"/>
    <!-- 
       <class name="com.Weekly.qa.TestCases.CurrentAdsPageTest"/>
        <class name="com.Weekly.qa.TestCases.PastAdsPageTest"/> 
         <class name="com.Weekly.qa.TestCases.FavouriteAdsPageTest"/>
          <class name="com.Weekly.qa.TestCases.SavedAdsPageTest"/>-->
         
      
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
